<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Host {{host['direccion']}} - Web Analyzer</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-globe"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Web Analyzer</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                        <a class="nav-link" href="/registros"><i class="far fa-file-code"></i><span>Registros</span></a>
                        <a class="nav-link" href="/sesiones"><i class="fas fa-user"></i><span>Sesiones</span></a>
                        <a class="nav-link" href="/reglas"><i class="fas fa-long-arrow-alt-right"></i><span>Reglas</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <br>
                    <h3 class="text-dark mb-4">Host {{direccion}}</h3>
                    <div class="row mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Datos del host</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Dirección</strong></label><p>{{ direccion }}</p></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Usuarios</strong></label>
                                                        {% for usuario in visitasDiarias.keys() %}
                                                            <p>{{ usuario }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Número de sesiones</strong></label><p>{{ host['numSesiones'] }}</p></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Número de visitas</strong></label><p>{{ host['numVisitas'] }}</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                    </div>
                    <div class="row">
                            <div class="col-lg-7 col-xl-5">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Comparativa sesiones</h6>
                                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Menos visitadas</a><a class="dropdown-item" href="#">&nbsp;Mas visitadas</a>
                                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Todas las páginas</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-area"><canvas id="visitasPorSesion"></canvas></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-5">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Páginas mas visitadas</h6>
                                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-area"><canvas id="visitasTotalesCircular"></canvas></div>
                                    </div>
                                </div>
                            </div>
                </div>
                    <div class="row">
                            <div class="col-lg-7 col-xl-5">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Relacion Visitas - Tiempo páginas visitadas</h6>
                                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Menos visitadas</a><a class="dropdown-item" href="#">&nbsp;Mas visitadas</a>
                                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Todas las páginas</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-area"><canvas id="visitasPorPagina"></canvas></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-5">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Uso diario de cada página</h6>
                                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-area"><canvas id="usoDiario"></canvas></div>
                                    </div>
                                </div>
                            </div>
                </div>
                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Sesiones del host</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                                <table class="table my-0" id="data">
                                                    <thead>
                                                        <tr>
                                                            <th>ID de sesión</th>
                                                            <th>Host</th>
                                                            <th>Usuario</th>
                                                            <th>Tiempo de la sesión (seg)</th>
                                                            <th>Número de visitas</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tabla">
                                                        {% for usuario, sesiones in host['sesiones'].items() %}
                                                            {% for id, sesion in sesiones.items() %}
                                                                <tr>
                                                                    <td><a id="sesion" href="/sesion?id={{id}}"> {{id}}</a></td>
                                                                    <td>{{direccion}}</td>
                                                                    <td>{{sesion['usuario']}}</td>
                                                                    <td>{{sesion['tiempoSesion']}}</td>
                                                                    <td>{{sesion['visitas'] | length}}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Web Analyzer 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/graficas.js"></script>
    <script src="static/js/chart.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/theme.js"></script>
    <script>
            window.onload = function() {
                sesion = [];
                visitas = [];
                tiempo = [];

                paginas = [];
                visitasPagina = [];
                tiempoPagina = [];

                paginas = [];
                visitasPagina = [];
                tiempoPagina = [];

                tiempoDia = [];
                visitasDiarias = [];
                fechas = [];

                {% for usuario in host['sesiones'] %}
                    {% for sesion in host['sesiones'][usuario] %}
                        sesion.push("{{sesion}}");
                        tiempo.push({{host['sesiones'][usuario][sesion]['tiempoSesion'] / 60}});
                        visitas.push({{host['sesiones'][usuario][sesion]['visitas']|length}});
                    {%endfor%}
                {%endfor%}

                {% for pagina in paginasHost %}
                    paginas.push("{{pagina}}");
                    tiempoPagina.push({{paginasHost[pagina]["tiempo"] / 60}});
                    visitasPagina.push({{paginasHost[pagina]["visitas"]}});
                {%endfor%}

                {% for usuario in visitasDiarias %}
                    {% for dia in visitasDiarias[usuario] %}
                        fechas.push('{{dia}}');
                        visitasDiarias.push({{visitasDiarias[usuario][dia]["numeroVisitas"]}});
                        tiempoDia.push({{visitasDiarias[usuario][dia]["tiempo"] / 60}});
                    {%endfor%}
                {%endfor%}
                graficaMixta("visitasPorSesion", "Visitas por página", "Tiempo por pagina", visitas, sesion, tiempo, true);
                graficaMixta("visitasPorPagina", "Visitas por página", "Tiempo por pagina", visitasPagina, paginas, tiempoPagina, false);
                graficaBarrasTemporal("usoDiario", "Visitas", "Tiempo", visitasDiarias, fechas, tiempoDia, "min");
                graficaCircular("visitasTotalesCircular", "Visitas por página", visitasPagina, paginas);
            }
    </script>
</body>

</html>