<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{tipo}} - Web Analyzer</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-globe"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Web Analyzer</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                        <a class="nav-link" href="/registros"><i class="far fa-file-code"></i><span>Registros</span></a>
                        <a class="nav-link" href="/sesiones"><i class="fas fa-user"></i><span>Sesiones</span></a>
                        <a class="nav-link" href="/reglas"><i class="fas fa-chart-bar"></i><span>Reglas</span></a>
                        <a class="nav-link" href="/paginas"><i class="fas fa-file-code"></i><span>Páginas</span></a>
                        <a class="nav-link active" href="/invasores"><i class="fas fa-bug"></i><span>Invasores</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <br>
                    <h3 class="text-dark mb-4">{{tipo | upper}} {{ host }}</h3>
                    <div class="row mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Datos del invasor</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Host</strong></label><p>{{ host }}</p></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Tiempo de visitas</strong></label><p>{{ bots[tipo]["host"][host]['tiempoUsado'] }}</p></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Número de visitas</strong></label><p>{{ bots[tipo]["host"][host]['numeroVisitas'] }}</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Visitas</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                                <table class="table my-0" id="data">
                                                    <thead>
                                                        <tr>
                                                            {% for i in columnas %}
                                                                <th>{{i}}</th>
                                                            {% endfor %}
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tabla">
                                                        {% for linea in bots[tipo]["host"][host]["visitas"] %}
                                                                <tr>
                                                                {% for campo, valor in linea.items() %}
                                                                    {% if campo in columnas %}
                                                                        <td>{{valor}}</td>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-lg-5 col-xl-5">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 fw-bold">Visitas totales y tiempo de navegación</p>
                                            </div>
                                            <div class="card-body">
                                                <div class="chart-area"><canvas id="visitasTotales"></canvas></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-xl-5">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 fw-bold">Proporción visitas totales</p>
                                            </div>
                                            <div class="card-body">
                                                <div class="chart-area"><canvas id="visitas"></canvas></div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Web Analyzer 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/graficas.js"></script>
    <script src="static/js/chart.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/theme.js"></script>
    <script>
            window.onload = function() {
                paginas = [];
                paginas.push('{{host}}');
                paginas.push('Todos los {{tipo}}');
                paginasCircular = [];
                paginasCircular.push('{{host}}');
                paginasCircular.push('Resto de {{tipo}}');
                visitas = [];
                visitasCircular = [];
                visitas.push({{bots[tipo]["host"][host]["numeroVisitas"]}});
                visitas.push({{bots[tipo]["numeroVisitas"]}});
                visitasCircular.push({{bots[tipo]["host"][host]["numeroVisitas"]}});
                visitasCircular.push({{bots[tipo]["numeroVisitas"] - bots[tipo]["host"][host]["numeroVisitas"]}});
                tiempo = [];
                tiempo.push({{bots[tipo]["host"][host]["tiempoUsado"] / 60}});
                tiempo.push({{bots[tipo]["tiempoUsado"]}} / 60);

                graficaMixta("visitasTotales", "Visitas totales", "Tiempo navegación", visitas, paginas,tiempo, true);
                graficaCircular("visitas", "Proporción visitas", visitasCircular, paginasCircular);
            }
    </script>
</body>

</html>