<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Página - Web Analyzer</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/modal.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-globe"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Web Analyzer</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                        <a class="nav-link" href="/registros"><i class="far fa-file-code"></i><span>Registros</span></a>
                        <a class="nav-link" href="/sesiones"><i class="fas fa-user"></i><span>Sesiones</span></a>
                        <a class="nav-link" href="/reglas"><i class="fas fa-chart-bar"></i><span>Reglas</span></a>
                        <a class="nav-link active" href="/paginas"><i class="fas fa-file-code"></i><span>Páginas</span></a>
                        <a class="nav-link" href="/invasores"><i class="fas fa-bug"></i><span>Invasores</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <br>
                    <h3 class="text-dark mb-4">Página {{direccion}}</h3>
                    {% if totalPaginas %}
                        <div class="row mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Datos de la página</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Número de visitas</strong></label><p>{{ totalPaginas['visitas'] }}</p></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Tiempo (seg)</strong></label><p>{{ totalPaginas['tiempo'] }}</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5 col-xl-5">
                                            <div class="card shadow mb-4">
                                                <div class="card-header d-flex justify-content-between align-items-center">
                                                    <h6 class="text-primary fw-bold m-0">Host con mas visitas</h6>
                                                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                            <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="chart-area"><canvas id="hostVisitas"></canvas></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-xl-7">
                                            <div class="card shadow mb-3">
                                                <div class="card-header py-3">
                                                    <p class="text-primary m-0 fw-bold">Hosts que más la han visitado</p>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                                        <table class="table my-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Host</th>
                                                                    <th>Número de visitas</th>
                                                                    <th>Tiempo en la Página (seg)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for item in visitasPagina %}
                                                                    <tr>
                                                                        <td><a id="host" href="/host?host={{item[0]}}"> {{item[0]}}</a></td>
                                                                        <td>{{item[1]["visitas"]}}</td>
                                                                        <td>{{item[1]["tiempo"]}}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5 col-xl-5">
                                            <div class="card shadow mb-4">
                                                <div class="card-header d-flex justify-content-between align-items-center">
                                                    <h6 class="text-primary fw-bold m-0">Probabilidad de ser la siguiente página</h6>
                                                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                            <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="chart-area"><canvas id="paginasPosterior"></canvas></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-xl-7">
                                            <div class="card shadow mb-3">
                                                <div class="card-header py-3">
                                                    <p class="text-primary m-0 fw-bold">Páginas visitadas posteriormente con más frecuencia</p>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                                        <table class="table my-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Página posterior</th>
                                                                    <th>Frecuencia</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for item in paginasSeguidasOrdenado %}
                                                                    <tr>
                                                                        {% if item[0] == 'fin' %}
                                                                            <td>{{ item[0] }}</td>
                                                                        {% else %}
                                                                            <td><a href="/pagina?pagina={{item[0]}}"> {{item[0]}}</a></td>
                                                                        {% endif %}
                                                                        <td>{{ item[1] }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5 col-xl-5">
                                            <div class="card shadow mb-4">
                                                <div class="card-header d-flex justify-content-between align-items-center">
                                                    <h6 class="text-primary fw-bold m-0">Probabilidad de venir de una página</h6>
                                                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                            <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="chart-area"><canvas id="paginasAnterior"></canvas></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-xl-7">
                                            <div class="card shadow mb-3">
                                                <div class="card-header py-3">
                                                    <p class="text-primary m-0 fw-bold">Páginas visitadas anteriormente con más frecuencia</p>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                                        <table class="table my-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Página anterior</th>
                                                                    <th>Frecuencia</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for item in paginasAnterioresOrdenado %}
                                                                    <tr>
                                                                        {% if item[0] == 'fin' or item[0] == 'inicio' %}
                                                                            <td>{{ item[0] }}</td>
                                                                        {% else %}
                                                                            <td><a href="/pagina?pagina={{item[0]}}"> {{item[0]}}</a></td>
                                                                        {% endif %}
                                                                        <td>{{ item[1] }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <h4 class="text-center">¡Vaya! No hay ningún log que analizar... ¡Sube uno!</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-12 text-nowrap text-center"><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal_log">Subir Log</button></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Web Analyzer 2023</span></div>
                </div>
            </footer>
            </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal_log">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/subir_log" method="POST" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Sube un fichero Log</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <br>
                        <input class="form-control" type="file" name="log">
                        <br>
                        <div class="row">
                            <div class="col" style="text-align: center">
                                <select name="formato">
                                  <option value="EPA">EPA</option>
                                  <option value="CLF" selected>CLF</option>
                                  <option value="ECLF">ECLF</option>
                                    <option value="MIIS">MIIS</option>
                                </select>
                            </div>
                            <div class="col">
                                <input class="form-control" type="input" name="tiempo" placeholder="1800" value="1800">
                                <p> Segundos necesarios para sesión</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-header">
                        <h4 class="modal-title">O bien, elige un fichero log existente</h4>
                    </div>
                    <div class="modal-body">
                            <input type="radio" name="existente" hidden checked value="-1">
                            {% for i in range(logsExistentes|length) %}
                                <label class="radio">
                                  <input type="radio" name="existente" value="{{i}}">
                                  <span>{{logsExistentes[i]}}</span>
                                </label>
                            {%endfor%}
                        <br>
                    </div>

                    <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-light" type="submit" data-bs-dismiss="modal" style="background: #3e5cb2;color: rgb(255,255,255);">Subir</button></div>
                </form>
            </div>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/graficas.js"></script>
    <script src="static/js/chart.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/theme.js"></script>
    <script>
            window.onload = function() {
                {% if paginasAnterioresOrdenado %}
                    paginasAnterior = [];
                    paginasPosterior = [];
                    visitasAnterior = [];
                    visitasPosterior = [];
                    total = 0;
                    {% for item in paginasAnterioresOrdenado %}
                        total += {{item[1]}};
                    {%endfor%}

                    {% for item in paginasAnterioresOrdenado %}
                        paginasAnterior.push("{{item[0]}}");
                        valor = Math.round((({{item[1]}} / total) * 100) * 100) / 100;
                        visitasAnterior.push(valor);
                    {%endfor%}

                    total = 0;

                    {% for item in paginasSeguidasOrdenado %}
                        total += {{item[1]}};
                    {%endfor%}

                    {% for item in paginasSeguidasOrdenado %}
                        paginasPosterior.push("{{item[0]}}");
                        valor = Math.round((({{item[1]}} / total) * 100) * 100) / 100;
                        visitasPosterior.push(valor);
                    {%endfor%}

                    visitas = [];
                    host = [];
                    tiempo = [];

                    {% for item in visitasPagina %}
                        host.push('{{item[0]}}');
                        visitas.push({{item[1]["visitas"]}});
                        tiempo.push({{item[1]["tiempo"]}} / 60);
                    {% endfor %}

                    graficaMixta("hostVisitas", "Visitas por host", "Tiempo por host", visitas,host, tiempo, false);
                    graficaCircular("paginasAnterior", "Veces visitada", visitasAnterior, paginasAnterior);
                    graficaCircular("paginasPosterior", "Veces visitada", visitasPosterior, paginasPosterior);
                {% endif %}
            }
    </script>
</body>

</html>