<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Recomendaciones - Web Analyzer</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-globe"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Web Analyzer</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                        <a class="nav-link" href="/registros"><i class="far fa-file-code"></i><span>Registros</span></a>
                        <a class="nav-link" href="/sesiones"><i class="fas fa-user"></i><span>Sesiones</span></a>
                        <a class="nav-link active" href="/reglas"><i class="fas fa-long-arrow-alt-right"></i><span>Reglas</span></a>
                        <a class="nav-link" href="/invasores"><i class="fas fa-bug"></i><span>Invasores</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <br>
                    <h3 class="text-dark mb-4">Estadísticas y recomendaciones</h3>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Páginas visitadas con mayor frecuencia</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0">
                                    <thead>
                                        <tr>
                                            <th>Página</th>
                                            <th>Veces visitada</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in totalVisitas %}
                                            <tr>
                                                <td>{{item[0]}}</td>
                                                <td>{{item[1]['visitas']}}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p><b>Recomendación:</b> Haz que estas páginas sean fácilmente accesibles para los usuarios.</p>
                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Páginas visitadas con menor frecuencia</p>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                            <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0">
                                    <thead>
                                        <tr>
                                            <th>Página</th>
                                            <th>Veces visitada</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in totalVisitasReves %}
                                            <tr>
                                                <td>{{item[0]}}</td>
                                                <td>{{item[1]['visitas']}}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                        <div class="card-footer">
                            <p><b>Recomendación:</b> Considera eliminar estas páginas, incluyendo su contenido en otras más frecuentes.</p>
                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Páginas visitadas una a continuación de otra con frecuencia</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0">
                                    <thead>
                                        <tr>
                                            <th>Secuencia</th>
                                            <th>Frecuencia</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in ordenadoSinFin %}
                                            <tr>
                                                <td>{{item[0][0]}} &rarr; {{item[0][1]}}</td>
                                                <td>{{item[1]}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p><b>Recomendación:</b> Considera combinar ambas páginas por contenido, si fuera posible.</p>
                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Páginas que suelen ser la última de la sesión</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0">
                                    <thead>
                                        <tr>
                                            <th>Secuencia</th>
                                            <th>Frecuencia</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in ordenadoFin %}
                                            <tr>
                                                <td>{{item[0][0]}} &rarr; {{item[0][1]}}</td>
                                                <td>{{item[1]}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p><b>Recomendación:</b> Esta página suele ser la que el usuario buscaba. Considera hacerla lo más accesible posible.</p>
                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Páginas en las que más tiempo pasan los usuarios</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0">
                                    <thead>
                                        <tr>
                                            <th>Página</th>
                                            <th>Tiempo (seg)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in totalVisitasPorTiempos %}
                                            <tr>
                                                <td>{{item[0]}}</td>
                                                <td>{{item[1]['visitas']}}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p><b>Recomendación:</b> Puede que estas páginas tengan demasiado contenido o este sea lioso. Considera resumir un poco el contenido.</p>
                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Páginas en las que menos tiempo pasan los usuarios</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0">
                                    <thead>
                                        <tr>
                                            <th>Página</th>
                                            <th>Tiempo (seg)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in totalVisitasPorTiemposReves %}
                                            <tr>
                                                <td>{{item[0]}}</td>
                                                <td>{{item[1]['visitas']}}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p><b>Recomendación:</b> Los contenidos de estas páginas no parecen muy interesantes. Considera eliminarlos, o incluirlos en otra página.</p>
                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Páginas visitadas por bots</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0">
                                    <thead>
                                        <tr>
                                            <th>Página</th>
                                            <th>Número visitas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in paginasBots %}
                                            <tr>
                                                <td>{{item}}</td>
                                                <td>{{paginasBots[item]}}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p><b>Recomendación:</b> Restringe el acceso a los hosts que son bots.</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Web Analyzer 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/theme.js"></script>
</body>

</html>