<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sesiones - Web Analyzer</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-globe"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Web Analyzer</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                        <a class="nav-link" href="/registros"><i class="far fa-file-code"></i><span>Registros</span></a>
                        <a class="nav-link active" href="/sesiones"><i class="fas fa-user"></i><span>Sesiones</span></a>
                        <a class="nav-link" href="/reglas"><i class="fas fa-long-arrow-alt-right"></i><span>Reglas</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <br>
                    <h3 class="text-dark mb-4">Sesiones</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Información de sesiones</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="data">
                                    <thead>
                                        <tr>
                                            <th>ID de sesión</th>
                                            <th>Host</th>
                                            <th>Usuario</th>
                                            <th>Tiempo de la sesión</th>
                                            <th>Número de visitas</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tabla">
                                        {% for sesion in sesiones %}
                                                <tr>
                                                    <td><a id="sesion" href="/sesion?id={{sesion['id']}}"> {{sesion['id']}}</a></td>
                                                    <td><a id="host" href="/host?host={{sesion['host']}}"> {{sesion['host']}}</a></td>
                                                    <td>{{sesion['usuario']}}</td>
                                                    <td>{{sesion['tiempoSesion']}}</td>
                                                    <td>{{sesion['visitas'] | length}}</td>
                                                </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Mostrando registros del 1 al 10 de {{tam}}</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled" id="disabled"><button class="page-link" aria-label="Previous" id="anterior" onclick ="consulta_ajax(this)"><span aria-hidden="true">Anterior</span></li>
                                            <li class="page-item"><button class="page-link" aria-label="Next" id="siguiente" onclick ="consulta_ajax(this)"><span aria-hidden="true">Siguiente</span></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="paginaActual" name="paginaActual" value="1" />
            <input type="hidden" id="registrosPorPagina" name="registrosPorPagina" value="{{registrosPorPagina}}" />
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Web Analyzer 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/theme.js"></script>
    <script src="static/js/jquery-3.6.4.min.js"></script>
    <script type="text/javascript">
        function consulta_ajax(element){
            let paginaActual = document.getElementById("paginaActual").value;
            if (element.id == "anterior") {
                paginaActual--;
            } else {
                paginaActual++;
            }
            document.getElementById("paginaActual").value = paginaActual;
            let tabla = document.getElementById("tabla");
            $.ajax({
                url:"/ajaxSesiones",
                type:"POST",
                data: {"value":paginaActual},
                success: function(response){
                    tabla.innerHTML = response;
                    let registrosPorPagina = document.getElementById("registrosPorPagina").value;
                    document.getElementById("dataTable_info").innerHTML = "Mostrando registros del " + ((paginaActual-1)*registrosPorPagina).toString() + " al " + (paginaActual*registrosPorPagina).toString() + " de {{tam}}"
                    if (paginaActual > 1) {
                        document.getElementById("disabled").className = "page-item";
                    } else {
                        document.getElementById("disabled").className = "page-item disabled";
                    }
                },
                error: function(error){
                    //console.log(error);
                }
            });
        }

    </script>
</body>

</html>