<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sesion {{sesion['id']}} - Web Analyzer</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/modal.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-globe"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Web Analyzer</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                        <a class="nav-link" href="/registros"><i class="far fa-file-code"></i><span>Registros</span></a>
                        <a class="nav-link active" href="/sesiones"><i class="fas fa-user"></i><span>Sesiones</span></a>
                        <a class="nav-link" href="/reglas"><i class="fas fa-chart-bar"></i><span>Reglas</span></a>
                        <a class="nav-link" href="/paginas"><i class="fas fa-file-code"></i><span>Páginas</span></a>
                        <a class="nav-link" href="/invasores"><i class="fas fa-bug"></i><span>Invasores</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <br>
                    <h3 class="text-dark mb-4">Sesión {{sesion['id']}}</h3>
                    {% if sesion %}
                        <div class="row mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Datos de la sesión</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Host</strong></label><p>{{ sesion['host'] }}</p></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Usuario</strong></label><p>{{ sesion['usuario'] }}</p></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Tiempo de sesión</strong></label><p>{{ sesion['tiempoSesion'] }}</p></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"><strong>Número de visitas</strong></label><p>{{ sesion['visitas'] | length }}</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Visitas</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                                <table class="table my-0" id="data">
                                                    <thead>
                                                        <tr>
                                                            {% for i in columnas %}
                                                                <th>{{i}}</th>
                                                            {% endfor %}
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tabla">
                                                        {% for s in sesion['visitas'] %}
                                                            <tr>
                                                                {% for campo, valor in s.items() %}
                                                                    {% if campo in columnas %}
                                                                        {% if campo == 'pagina' %}
                                                                            <td><a href="/pagina?pagina={{valor}}"> {{valor}}</a></td>
                                                                        {% elif campo == 'host' %}
                                                                            <td><a href="/host?host={{valor}}">{{valor}}</a></td>
                                                                        {% else %}
                                                                            <td>{{valor}}</td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-lg-5 col-xl-5">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 fw-bold">Visitas por página</p>
                                            </div>
                                            <div class="card-body">
                                                <div class="chart-area"><canvas id="visitasPorPagina"></canvas></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-xl-5">
                                        <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Información de registros</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive table mt-2" id="dataTable2" role="grid" aria-describedby="dataTable_info">
                                                    <table class="table my-0" id="data2">
                                                        <thead>
                                                            <tr>
                                                                <th>Extension</th>
                                                                <th>Repetición</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tabla2">
                                                            {% for extension in extensiones %}
                                                                    <tr>
                                                                        {% if extension == "" %}
                                                                            <td>Sin extensión / Blanco</td>
                                                                        {% else %}
                                                                            <td>{{extension}}</td>
                                                                        {% endif %}
                                                                        <td>{{extensiones[extension]}}</td>
                                                                    </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <h4 class="text-center">¡Vaya! No hay ningún log que analizar... ¡Sube uno!</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-12 text-nowrap text-center"><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal_log">Subir Log</button></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Web Analyzer 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal_log">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/subir_log" method="POST" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Sube un fichero Log</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <br>
                        <input class="form-control" type="file" name="log">
                        <br>
                        <div class="row">
                            <div class="col" style="text-align: center">
                                <select name="formato">
                                  <option value="EPA">EPA</option>
                                  <option value="CLF" selected>CLF</option>
                                  <option value="ECLF">ECLF</option>
                                    <option value="MIIS">MIIS</option>
                                </select>
                            </div>
                            <div class="col">
                                <input class="form-control" type="input" name="tiempo" placeholder="1800" value="1800">
                                <p> Segundos necesarios para sesión</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-header">
                        <h4 class="modal-title">O bien, elige un fichero log existente</h4>
                    </div>
                    <div class="modal-body">
                            <input type="radio" name="existente" hidden checked value="-1">
                            {% for i in range(logsExistentes|length) %}
                                <label class="radio">
                                  <input type="radio" name="existente" value="{{i}}">
                                  <span>{{logsExistentes[i]}}</span>
                                </label>
                            {%endfor%}
                        <br>
                    </div>

                    <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-light" type="submit" data-bs-dismiss="modal" style="background: #3e5cb2;color: rgb(255,255,255);">Subir</button></div>
                </form>
            </div>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/graficas.js"></script>
    <script src="static/js/chart.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/theme.js"></script>
    <script>
        {% if porPaginas %}
            window.onload = function() {
                paginas = [];
                visitas = [];
                {% for pagina in porPaginas %}
                    paginas.push("{{pagina}}");
                    visitas.push({{porPaginas[pagina]}})
                {%endfor%}

                graficaBarras("visitasPorPagina", "Visitas por página", visitas, paginas);
            }
        {% endif %}
    </script>
</body>

</html>